## --------------------------
## ASP.NET Core and Visual Studio
## --------------------------

# .NET Core
**/bin/
**/obj/
**/out/
**/appsettings.Development.json
**/appsettings.Local.json
**/appsettings.Secret.json
*.runtimeconfig.dev.json
*.db
*.sqlite3

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows image file caches
Thumbs.db
ehthumbs.db

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Visual Studio specific
.vs/
*.pidb
*.svclog
*.scc

# Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# MacOS
.DS_Store

# Azure DevOps local config
.azure/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Tye
.tye/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Uncomment if using Telerik JustMock
#*.jmconfig

*.cache
*.editorconfig
*.dll
Api/Api/bin/Debug/net6.0/Api
Api/Api/bin/Debug/net6.0/Api.pdb
